
<section class="bg-slate">
    <div class="mx-auto max-w-7xl py-1">
    
    <div class="text-center">
        <a href="#" class="text-base text-white hover:text-gray-900">Wechsel zu POLYAS: 15% Rabatt</a>
    </div>
    
</div></section>