---
import "./Hero.css"
---

<section id="hero" class="relative z-0 swiper-container overflow-hidden">
  <div class="swiper-wrapper h-[45rem]">
    <section class="swiper-slide min-w-full py-16">
      <div class="container flex flex-col md:grid grid-cols-5 px-6 md:px-16">
        <div class="col-start-1 col-span-3">
          <span class="text-headline-1 uppercase">
            Online-Wahlen, Nominierungen & Abstimmungen
          </span>
          <h1 class="text-headline-2 mt-4">
            <span class="text-primary">Die Wahl Ihrer Zukunft</span>
            <br />
            <span>beginnt jetzt</span>
          </h1>
        </div>

        <img
          class="col-span-2"
          src="/POLYAS_Freisteller Zielgruppen_Startpage_2.png"
          decoding="async"
          fetchpriority="high"
          alt=""
        />
      </div>
    </section>

    <section class="swiper-slide min-w-full hidden data-[slider]:block">
      slide 2
    </section>

    <section class="swiper-slide min-w-full hidden data-[slider]:block">
      slide 3
    </section>
  </div>
  <div class="flex justify-center swiper-pagination"></div>

  <svg
    class="absolute top-0 left-0 z-[-1]"
    aria-hidden="true"
    width="82"
    height="318"
  >
    <use href="#svg:hero-bg-shape" fill="url(#hero-bg-gradient)"></use>
    <defs>
      <linearGradient
        id="hero-bg-gradient"
        x1="-177.275"
        x2="276.616"
        y1="83.984"
        y2="-198.739"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#DEE3E5"></stop>
        <stop offset=".62" stop-color="#DEE3E5" stop-opacity="0"></stop>
      </linearGradient>
    </defs>
  </svg>
</section>

<script type="module" defer>
  import Swiper, {
    SwiperPluginPagination,
    SwiperPluginKeyboardControl,
  } from "https://esm.sh/tiny-swiper@2.2.0"
  import SwiperPluginAutoPlay from "https://esm.sh/tiny-swiper/lib/modules/autoPlay.min.js"

  Swiper.use([
    SwiperPluginPagination,
    SwiperPluginAutoPlay,
    SwiperPluginKeyboardControl,
  ])

  const swiper = new Swiper("#hero", {
    loop: true,
    speed: 850,
    centeredSlides: true,
    slidesPerView: 1,
    autoplay: {
      delay: 4000,
    },
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
      bulletActiveClass: "is-active",
      renderBullet: (index, className) => {
        return `<button class="${className}" aria-label="Zu Folie ${
          index + 1
        }"></button>`
      },
    },
    keyboard: {
      enabled: true,
      onlyInViewport: true,
    },
  })

  window.addEventListener("resize", () => {
    swiper.updateSize()
  })
</script>
