.swiper-pagination-bullet {
  --size: 1.5rem;
  --color: #b7c0ca;

  width: var(--size);
  height: var(--size);
  border-radius: 99px;
  background-image: radial-gradient(
    circle at center,
    var(--color) 0%,
    var(--color) 50%,
    transparent 50%
  );
}

.swiper-pagination-bullet.is-active {
  --color: #78929d;
}

.swiper-pagination-bullet + .swiper-pagination-bullet {
  margin-left: 0.25rem;
}
