<section class="bg-gray-50">
  <div class="mx-auto max-w-7xl py-12 px-4 sm:px-6 lg:px-8 lg:py-24">
    <div class="space-y-12">

      <!--
      <div class="space-y-5 sm:space-y-4 md:max-w-xl lg:max-w-3xl xl:max-w-none">
        <h2 class="text-3xl font-bold tracking-tight text-white sm:text-4xl">Meet our team</h2>
        <p class="text-xl text-gray-300">Ornare sagittis, suspendisse in hendrerit quis. Sed dui aliquet lectus sit pretium egestas vel mattis neque.</p>
      </div>
       -->

     <ul role="list" class="space-y-4 sm:grid sm:grid-cols-2 sm:gap-6 sm:space-y-0 lg:grid-cols-3 lg:gap-8">
        <li class="rounded-lg py-10 px-6 text-center xl:px-10 xl:text-left">
          <div class="space-y-6 xl:space-y-10">
            <div class="mx-auto h-40 w-40">
              <image id="image0_271_2515" width="333" height="333" src="/Case%20Study.png"/>
            </div>              

            <div class="space-y-2 xl:flex xl:items-center xl:justify-between">
              <div class="space-y-1 text-lg font-medium leading-6">
                <h3 class="text-xl">Online-Wahl</h3>
                <p class="py-4">Wählen Sie online bequem von jedem Ort der Welt in einem festen Wahlzeitraum.</p>
                <a href="/kostenlos-testen" class="button text-sm button-primary">
                  Mehr erfahren
                </a>
              </div>

            </div>
          </div>
        </li>

        <li class="rounded-lg py-10 px-6 text-center xl:px-10 xl:text-left">
          <div class="space-y-6 xl:space-y-10">
            <div class="mx-auto h-40 w-40">
              <image id="image0_271_2515" width="333" height="333" src="/Case%20Study.png"/>
            </div>              

            <div class="space-y-2 xl:flex xl:items-center xl:justify-between">
              <div class="space-y-1 text-lg font-medium leading-6">
                <h3 class="text-xl">Live-Voting</h3>
                <p class="py-4">Wählen Sie online bequem von jedem Ort der Welt in einem festen Wahlzeitraum.</p>
                <a href="/kostenlos-testen" class="button text-sm button-primary">
                  Mehr erfahren
                </a>
              </div>

            </div>
          </div>
        </li>

        <li class="rounded-lg py-10 px-6 text-center xl:px-10 xl:text-left">
          <div class="space-y-6 xl:space-y-10">
            <div class="mx-auto h-40 w-40">
              <image id="image0_271_2515" width="333" height="333" src="/Case%20Study.png"/>
            </div>              

            <div class="space-y-2 xl:flex xl:items-center xl:justify-between">
              <div class="space-y-1 text-lg font-medium leading-6">
                <h3 class="text-xl">Nominierung</h3>
                <p class="py-4">Wählen Sie online bequem von jedem Ort der Welt in einem festen Wahlzeitraum.</p>
                <a href="/kostenlos-testen" class="button text-sm button-primary">
                  Mehr erfahren
                </a>
              </div>

            </div>
          </div>
        </li>

      </ul>
    </div>
  </div>
</section>