<div class="bg-gray-50">
  <div class="mx-auto max-w-7xl py-12 px-4 sm:px-6 lg:flex lg:items-center lg:justify-between lg:py-24 lg:px-8">
    <h2 class="text-3xl tracking-tight text-secondary md:text-4xl">
      <span class="block">Sind Sie bereit für Ihre digitale Demokratie?</span>
    </h2>
    <div class="mt-8 flex lg:mt-0 lg:flex-shrink-0">
      <div class="inline-flex rounded-md">
        <a href="/kostenlos-testen" class="button text-sm button-primary">
          Jetzt starten
        </a>
        <a href="/kostenlos-testen" class="button text-sm button-secondary ml-5">
          Kontakt
        </a>
      </div>
    </div>
  </div>
</div>