---
import "./CtaSectionV2.css"
---

<div class="bg-white py-12">
  <div class="mx-auto max-w-7xl py-12 px-4 bg-cta-section-v2">
    <div class="sm:px-6 text-center">
      <div>
        <h2 class="text-3xl tracking-tight text-secondary md:text-4xl">
          <span class="block font-bold">Jetzt mehr zur kostenlosen<br>Online-Abstimmung erfahren</span>
        </h2>
      </div>
    </div>
    <div class="sm:px-6 text-center pt-8">
      <div class="px-6 pt-4 pb-2 rounded-md">
        <a href="/kostenlos-testen" class="button text-sm button-primary">
          Jetzt kostenlos wählen
        </a>
      </div>
    </div>
  </div>
</div>