<div class="overflow-hidden bg-white">
  <div class="relative mx-auto max-w-7xl py-16 px-4 sm:px-6 lg:px-8">
    <div class="mt-8 lg:grid lg:grid-cols-2 lg:gap-8">
      <div class="relative lg:col-start-2 lg:row-start-1">
        <div class="mx-auto max-w-prose text-base lg:max-w-none py-">
          <h2 class="mt-2 text-3xl font-bold leading-8 tracking-tight text-gray-900 sm:text-4xl">Sicheres Wählen<br>ohne Barrieren</h2>
        </div>
        <div class="prose prose-indigo mx-auto mt-5 text-gray-500 lg:col-start-1 lg:row-start-1 lg:max-w-none">
          <p>Die Stimmabgabe ist mit POLYAS denkbar einfach. Mit einem Klick wird digitale Mitbestimmung möglich. Dabei sorgen unsere Systeme für Ihre maximale Sicherheit.</p>
          <p><a href="#" style="color:#F86951">So einfach geht es</a></p>
        </div>
      </div>
      <div class="mt-8 lg:mt-0">
        <div class="relative mx-auto max-w-prose text-base lg:max-w-none">
          <figure>
            <div class="aspect-w-12 aspect-h-7 lg:aspect-none">
              <img class="object-cover object-center" src="/Case Study.png" alt="">
            </div>
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>