<section class="bg-white">
  <div class="mx-auto max-w-7xl py-12 px-4 sm:px-6 lg:px-8 lg:py-24">
    <div class="space-y-12">

      <h3 class="uppercase text-center m-0 p-0 text-sm font-bold">Für unsere Kunden sind wir die 1. Wahl</h3>

      <div class="mx-auto max-w-7xl px-4">
        <div class="grid grid-cols-2 gap-8 md:grid-cols-4 lg:grid-cols-4">
          <div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
            <img class="h-12" src="https://www.polyas.de/sites/default/files/cdu_4c%20(1).png" alt="Tuple">
          </div>
          <div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
            <img class="h-12" src="https://www.polyas.de/sites/default/files/customers/ct-produkt-page/Kirche_Kurhessen.png" alt="Mirage">
          </div>
          <div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
            <img class="h-12" src="https://www.polyas.de/sites/default/files/GEMA_10.jpg" alt="StaticKit">
          </div>
          <div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
            <img class="h-12" src="https://www.polyas.de/sites/default/files/THM_Logo_4c_1.png" alt="Transistor">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>